#
#
#
#
MIB: CISCO-IF-EXTENSION-MIB (file:/usr/share/snmp/mibs/CISCO-IF-EXTENSION-MIB.my) converted on Tue Aug 30 12:04:38 2016 using snmpttconvertmib v1.4
#
#
#
EVENT cieLinkDown .1.3.6.1.4.1.9.9.276.0.1 "Status Events" Critical
FORMAT A cisco specific linkDown notification $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 2 "A cisco specific linkDown notification $*"
SDESC
A cisco specific linkDown notification
signifies that the SNMP entity, acting in an
agent role, has detected that the ifOperStatus
object for one of its communication links is
about to enter the down state from some other
state (but not from the notPresent state).
The varbinds for this notification indicate the
interface information of the communication
link.
Variables:
  1: ifIndex
  2: ifAdminStatus
  3: ifOperStatus
  4: ifName
  5: ifType
EDESC
#
#
#
EVENT cieLinkUp .1.3.6.1.4.1.9.9.276.0.2 "Status Events" Normal
FORMAT A cisco specific linkUp trap signifies that $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 0 "A cisco specific linkUp trap signifies that $*"
SDESC
A cisco specific linkUp trap signifies that
the SNMP entity, acting in an agent role, has
detected that the ifOperStatus object for one
of its communication links left the down state
and transitioned into some other state (but not
into the notPresent state). The varbinds for
this notification indicate the interface
information of the communication link.
Variables:
  1: ifIndex
  2: ifAdminStatus
  3: ifOperStatus
  4: ifName
  5: ifType
EDESC
#
#
#
EVENT cieDelayedLinkUpDownNotif .1.3.6.1.4.1.9.9.276.0.3 "Status Events" Warning
FORMAT This notification indicates when an interface's operational $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 1 "This notification indicates when an interface's operational $*"
SDESC
This notification indicates when an interface's operational
status has transitioned and remained in that state for a time
specified by cieDelayedLinkUpDownDelay.
Variables:
  1: ifAdminStatus
  2: ifOperStatus
  3: ifName
  4: ifType
  5: cieIfOperStatusCause
EDESC
#
#
#
#
MIB: CISCO-FC-FE-MIB (file:/usr/share/snmp/mibs/CISCO-FC-FE-MIB.my) converted on Tue Aug 30 13:57:52 2016 using snmpttconvertmib v1.4
#
#
#
EVENT fcTrunkIfDownNotify .1.3.6.1.4.1.9.9.289.1.3.0.1 "Status Events" Warning
FORMAT This notification is generated by the agent $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 1 "This notification is generated by the agent $*"
SDESC
This notification is generated by the agent
whenever the fcTrunkifOperStatus object for this
trunk interface is about to enter the down state from
some other state. This other state is indicated by
the included value of fcTrunkifOperStatus.
Variables:
  1: fcTrunkIfOperStatus
  2: fcTrunkIfOperStatusCause
  3: fcTrunkIfOperStatusCauseDescr
EDESC
#
#
#
EVENT fcTrunkIfUpNotify .1.3.6.1.4.1.9.9.289.1.3.0.2 "Status Events" Warning
FORMAT This notification is generated by the agent $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 1 "This notification is generated by the agent $*"
SDESC
This notification is generated by the agent
whenever the fcTrunkifOperStatus object for one of
its trunk interfaces has left the down state and
transitioned into some other state. This other
state is indicated by the included value of
fcTrunkifOperStatus.
Variables:
  1: fcTrunkIfOperStatus
  2: fcTrunkIfOperStatusCause
  3: fcTrunkIfOperStatusCauseDescr
EDESC
#
#
#
EVENT fcIfElpReject .1.3.6.1.4.1.9.9.289.1.3.0.3 "Status Events" Warning
FORMAT This notification is generated by the agent $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 1 "This notification is generated by the agent $*"
SDESC
This notification is generated by the agent
whenever this interface received a ELP request and
rejected it.
Variables:
  1: fcIfElpNbrNodeName
  2: fcIfElpNbrPortName
  3: fcIfElpRejectReasonCode
  4: fcIfElpRejectReasonCodeExpl
EDESC
#
#
#
EVENT fcotInserted .1.3.6.1.4.1.9.9.289.1.3.0.4 "Status Events" Warning
FORMAT This notification indicates that a Fibre Channel Optical $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 1 "This notification indicates that a Fibre Channel Optical $*"
SDESC
This notification indicates that a Fibre Channel Optical
Transmitter (FCOT) for an interface is inserted.
This notification is generated by the agent whenever the
'cieIfOperStatusCause' object for one of its interfaces
has transitioned into some other state from
'fcotNotPresent' state.
This other state is indicated by the included value
of 'cieIfOperStatusCause'.
Variables:
  1: cieIfOperStatusCause
EDESC
#
#
#
EVENT fcotRemoved .1.3.6.1.4.1.9.9.289.1.3.0.5 "Status Events" Warning
FORMAT This notification indicates that a Fibre Channel Optical $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 1 "This notification indicates that a Fibre Channel Optical $*"
SDESC
This notification indicates that a Fibre Channel Optical
Transmitter (FCOT) for an interface is removed.
This notification is generated by the agent whenever the
'cieIfOperStatusCause' object for one of its interfaces
has entered into 'fcotNotPresent' state.
Variables:
  1: cieIfOperStatusCause
EDESC
#
#
#
#
MIB: FC-MGMT-MIB (file:/usr/share/snmp/mibs/FC-MGMT-MIB.my) converted on Tue Aug 30 14:22:30 2016 using snmpttconvertmib v1.4
#
#
#
#
MIB: CISCO-VTP-MIB (file:/usr/share/snmp/mibs/CISCO-VTP-MIB.my) converted on Tue Aug 30 14:30:19 2016 using snmpttconvertmib v1.4
#
#
#
EVENT vtpConfigRevNumberError .1.3.6.1.4.1.9.9.46.2.0.1 "Status Events" Normal
FORMAT A configuration revision number error notification $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 1 "A configuration revision number error notification $*"
SDESC
A configuration revision number error notification
signifies that a device has incremented its
vtpConfigRevNumberErrors counter.
Generation of this notification is suppressed if the
vtpNotificationsEnabled has the value 'false'.
The device must throttle the generation of consecutive
vtpConfigRevNumberError notifications so that there is at
least a five-second gap between notification of this type.
When notification are throttled, they are dropped, not
queued for sending at a future time.  (Note that
'generating' a notification means sending to all configured
recipients.)
Variables:
  1: managementDomainConfigRevNumber
EDESC
#
#
#
EVENT vtpConfigDigestError .1.3.6.1.4.1.9.9.46.2.0.2 "Status Events" Normal
FORMAT A configuration digest error notification signifies that a $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 1 "A configuration digest error notification signifies that a $*"
SDESC
A configuration digest error notification signifies that a
device has incremented its vtpConfigDigestErrors counter.
Generation of this notification is suppressed if the
vtpNotificationsEnabled has the value 'false'.
The device must throttle the generation of consecutive
vtpConfigDigestError notifications so that there is at least
a five-second gap between notification of this type.  When
notification are throttled, they are dropped, not queued for
sending at a future time.  (Note that 'generating' a
notification means sending to all configured recipients.)
Variables:
  1: managementDomainConfigRevNumber
EDESC
#
#
#
EVENT vtpServerDisabled .1.3.6.1.4.1.9.9.46.2.0.3 "Status Events" Normal
FORMAT A VTP Server disabled notification is generated when the $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 1 "A VTP Server disabled notification is generated when the $*"
SDESC
A VTP Server disabled notification is generated when the
local system is no longer able to function as a VTP Server
because the number of defined VLANs is greater than
vtpMaxVlanStorage or the local system is not able to
recover complete VTP information after a reboot.
Generation of this notification is suppressed if the
vtpNotificationsEnabled has the value 'false'.
Variables:
  1: managementDomainConfigRevNumber
  2: vtpMaxVlanStorage
EDESC
#
#
#
EVENT vtpMtuTooBig .1.3.6.1.4.1.9.9.46.2.0.4 "Status Events" Normal
FORMAT A VTP MTU tooBig notification is generated when a VLAN's $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 1 "A VTP MTU tooBig notification is generated when a VLAN's $*"
SDESC
A VTP MTU tooBig notification is generated when a VLAN's
MTU size is larger than can be supported either:
- by one or more of its trunk ports:
the included vtpVlanState has the value
'mtuTooBigForTrunk' and the included
vlanTrunkPortManagementDomain is for the first (or only)
trunk port,
or
- by the device itself:
vtpVlanState has the value 'mtuTooBigForDevice' and any
instance of vlanTrunkPortManagementDomain is included.
Devices which have no trunk ports do not send vtpMtuTooBig
notifications.
Generation of this notification is suppressed if the
vtpNotificationsEnabled has the value 'false'.
Variables:
  1: vlanTrunkPortManagementDomain
  2: vtpVlanState
EDESC
#
#
#
EVENT vtpVersionOneDeviceDetected .1.3.6.1.4.1.9.9.46.2.0.6 "Status Events" Normal
FORMAT A VTP version one device detected notification is $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 1 "A VTP version one device detected notification is $*"
SDESC
A VTP version one device detected notification is
generated by a device when:
a) a management domain has been put into version 2 mode
(as accessed by managementDomainVersionInUse).
b) 15 minutes has passed since a).
c) a version 1 PDU is detected on a trunk on the device
that is in that management domain which has a lower
revision number than the current configuration.
Variables:
  1: vlanTrunkPortManagementDomain
EDESC
#
#
#
EVENT vlanTrunkPortDynamicStatusChange .1.3.6.1.4.1.9.9.46.2.0.7 "Status Events" Normal
FORMAT A vlanTrunkPortDynamicStatusChange notification is $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 1 "A vlanTrunkPortDynamicStatusChange notification is $*"
SDESC
A vlanTrunkPortDynamicStatusChange notification is
generated by a device when the value of
vlanTrunkPortDynamicStatus object has been changed.
Variables:
  1: vlanTrunkPortDynamicStatus
EDESC
#
#
#
EVENT vtpLocalModeChanged .1.3.6.1.4.1.9.9.46.2.0.8 "Status Events" Normal
FORMAT A vtpLocalModeChanged notification is generated $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 1 "A vtpLocalModeChanged notification is generated $*"
SDESC
A vtpLocalModeChanged notification is generated
by a device when the value of the object
managementDomainLocalMode is changed.
Variables:
  1: managementDomainLocalMode
EDESC
#
#
#
EVENT vtpVersionInUseChanged .1.3.6.1.4.1.9.9.46.2.0.9 "Status Events" Normal
FORMAT A vtpVersionInUseChanged notification is $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 1 "A vtpVersionInUseChanged notification is $*"
SDESC
A vtpVersionInUseChanged notification is
generated by a device when the value of the
object managementDomainVersionInUse is
changed.
Variables:
  1: managementDomainVersionInUse
EDESC
#
#
#
EVENT vtpVlanCreated .1.3.6.1.4.1.9.9.46.2.0.10 "Status Events" Normal
FORMAT A vtpVlanCreated notification is generated by a $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 1 "A vtpVlanCreated notification is generated by a $*"
SDESC
A vtpVlanCreated notification is generated by a
device when a VLAN is created.
Variables:
  1: vtpVlanName
EDESC
#
#
#
EVENT vtpVlanDeleted .1.3.6.1.4.1.9.9.46.2.0.11 "Status Events" Normal
FORMAT A vtpVlanDeleted notification is generated by a $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 1 "A vtpVlanDeleted notification is generated by a $*"
SDESC
A vtpVlanDeleted notification is generated by a
device when a VLAN is deleted.
Variables:
  1: vtpVlanName
EDESC
#
#
#
EVENT vtpVlanRingNumberConflict .1.3.6.1.4.1.9.9.46.2.0.12 "Status Events" Normal
FORMAT A VTP ring number configuration conflict notification is $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 1 "A VTP ring number configuration conflict notification is $*"
SDESC
A VTP ring number configuration conflict notification is
generated if, and only at the time when, a device learns of
a conflict between:
a) the ring number (vtpVlanPortLocalSegment) being used on a
token ring segment attached to the port identified by
ifIndex, and
b) the VTP-obtained ring number (vtpVlanRingNumber) for the
VLAN identified by vtpVlanIndex.
When such a conflict occurs, the bridge port is put into an
administrative down position until the conflict is resolved
through local/network management intervention.
This notification is only applicable to VLANs of type
'tokenRing'.
Variables:
  1: vtpVlanRingNumber
  2: ifIndex
  3: vtpVlanPortLocalSegment
EDESC
#
#
#
EVENT vtpPruningStateOperChange .1.3.6.1.4.1.9.9.46.2.0.13 "Status Events" Normal
FORMAT A vtpPruningStateOperChange notification is generated $*
EXEC /usr/local/nagios/libexec/submit_check_result $r SNMP_TRAP 1 "A vtpPruningStateOperChange notification is generated $*"
SDESC
A vtpPruningStateOperChange notification is generated
by the device when the instance value of
managementDomainPruningStateOper is changed.
Variables:
  1: managementDomainPruningStateOper
EDESC
