# https://assets.nagios.com/downloads/nagioscore/docs/nagioscore/4/en/objectdefinitions.html

define service {
	{% for l in nagios_snmptrap_nagios_service_template_lines %}
	{{ l }}
	{% endfor %}
	register                        0
}