# As the snmp packages come without MIB files due to license reasons, loading
# of MIBs is disabled by default. If you added the MIBs you can reenable
# loading them by commenting out the following line.
mibs :
# mibs +ALL
mibdirs +/var/lib/mibs/iana
mibdirs +/var/lib/mibs/ietf
#mibdirs +/var/lib/mibs/netdisco-mibs/3com
#mibdirs +/var/lib/mibs/netdisco-mibs/aerohive
#mibdirs +/var/lib/mibs/netdisco-mibs/alcatel
#mibdirs +/var/lib/mibs/netdisco-mibs/allied
mibdirs +/var/lib/mibs/netdisco-mibs/apc
#mibdirs +/var/lib/mibs/netdisco-mibs/arista
#mibdirs +/var/lib/mibs/netdisco-mibs/aruba
#mibdirs +/var/lib/mibs/netdisco-mibs/asante
#mibdirs +/var/lib/mibs/netdisco-mibs/avaya
#mibdirs +/var/lib/mibs/netdisco-mibs/bluecoat
#mibdirs +/var/lib/mibs/netdisco-mibs/bluesocket
#mibdirs +/var/lib/mibs/netdisco-mibs/cabletron
#mibdirs +/var/lib/mibs/netdisco-mibs/checkpoint
mibdirs +/var/lib/mibs/netdisco-mibs/cisco
#mibdirs +/var/lib/mibs/netdisco-mibs/ciscosb
#mibdirs +/var/lib/mibs/netdisco-mibs/citrix
#mibdirs +/var/lib/mibs/netdisco-mibs/colubris
#mibdirs +/var/lib/mibs/netdisco-mibs/cyclades
#mibdirs +/var/lib/mibs/netdisco-mibs/dell
#mibdirs +/var/lib/mibs/netdisco-mibs/d-link
#mibdirs +/var/lib/mibs/netdisco-mibs/enterasys
#mibdirs +/var/lib/mibs/netdisco-mibs/extreme
#mibdirs +/var/lib/mibs/netdisco-mibs/extricom
#mibdirs +/var/lib/mibs/netdisco-mibs/f5
#mibdirs +/var/lib/mibs/netdisco-mibs/force10
#mibdirs +/var/lib/mibs/netdisco-mibs/fortinet
#mibdirs +/var/lib/mibs/netdisco-mibs/foundry
#mibdirs +/var/lib/mibs/netdisco-mibs/gigamon

#h3c is required to get working: snmptranslate  1.3.6.1.4.1.25506.2.4.2.1
mibdirs +/var/lib/mibs/netdisco-mibs/h3c

mibdirs +/var/lib/mibs/netdisco-mibs/hp
#mibdirs +/var/lib/mibs/netdisco-mibs/huawei
#mibdirs +/var/lib/mibs/netdisco-mibs/ibm
#mibdirs +/var/lib/mibs/netdisco-mibs/juniper
#mibdirs +/var/lib/mibs/netdisco-mibs/lantronix
#mibdirs +/var/lib/mibs/netdisco-mibs/meraki
#mibdirs +/var/lib/mibs/netdisco-mibs/mikrotik
#mibdirs +/var/lib/mibs/netdisco-mibs/moser-baer
#mibdirs +/var/lib/mibs/netdisco-mibs/motorola
#mibdirs +/var/lib/mibs/netdisco-mibs/netapp
#mibdirs +/var/lib/mibs/netdisco-mibs/netgear
#mibdirs +/var/lib/mibs/netdisco-mibs/netscreen

# this is required for UCD-DISKIO-MIB.txt, UCD-DEMO-MIB.txt
mibdirs +/var/lib/mibs/netdisco-mibs/net-snmp

#mibdirs +/var/lib/mibs/netdisco-mibs/nexans
#mibdirs +/var/lib/mibs/netdisco-mibs/nortel
#mibdirs +/var/lib/mibs/netdisco-mibs/packetfront
#mibdirs +/var/lib/mibs/netdisco-mibs/paloalto
#mibdirs +/var/lib/mibs/netdisco-mibs/pica8
#mibdirs +/var/lib/mibs/netdisco-mibs/rad
mibdirs +/var/lib/mibs/netdisco-mibs/rfc
#mibdirs +/var/lib/mibs/netdisco-mibs/riverbed
#mibdirs +/var/lib/mibs/netdisco-mibs/ruckus
#mibdirs +/var/lib/mibs/netdisco-mibs/sentry
#mibdirs +/var/lib/mibs/netdisco-mibs/sixnet
#mibdirs +/var/lib/mibs/netdisco-mibs/sonicwall
#mibdirs +/var/lib/mibs/netdisco-mibs/trapeze
mibdirs +/var/lib/mibs/netdisco-mibs/vmware
#mibdirs +/var/lib/mibs/netdisco-mibs/xirrus
